@font-face {
	font-family: 'Droid Arabic Kufi';
	src: local('DroidKufi'), local('Droid-Kufi'),
		url('../assets/fonts/DroidKufi-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Arabic Kufi';
	src: local('DroidKufi'), local('Droid-Kufi'),
		url('../assets/fonts/DroidKufi-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GE Dinar Two';
	src: local('GEDinarTwo'), local('GE-Dinar-Two'),
		url('../assets/fonts/GE_Dinar_Two_Light.otf') format('OpenType');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GE Dinar Two';
	src: local('GEDinarTwo'), local('GE-Dinar-Two'),
		url('../assets/fonts/GE_Dinar_Two_Medium.otf') format('OpenType');
	font-weight: 500;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GE Dinar Two' !important;
    font-weight: 500;

}
body,
.btn-primary, .btn-secondary, .checkbox_text,
.form-s, .drawer-list li a, .drawer-list ul ul li a,
.block_info__date, .calendar_image .calendar_date, .calendar_image .calendar_month,
.feautured-post h3, .board_name, .staff_block .block .team_lastname, .news_info .news_name a,
.wrap_news .block_news .news_name a, .condolences_wrapper .head, .condolences_wrapper .text,
#accordion .btn p, #accordion .card-body p {
    font-family: 'Droid Arabic Kufi' !important;
}
.datepicker {
    left: auto;
    right: -10000px;
}
.datepicker.active {
    right: unset;
}
.datepicker-here-ar {
    background-image: url(../assets/images/icons/calendar1.svg);
    background-repeat: no-repeat;
    background-position: calc(0% - -15px);
}
.datepicker--nav {
    direction:ltr;  
}
.checkbox_text {
    padding: 0 35px 0 0;
}
.checkbox_text:before {
    right: 0;
    left: auto;
}
.checkbox_text:after {
    left: auto;
    right: 4px;
}
.radio + label {
    padding: 0 35px 0 0;
}
.radio + label:after {
    left: auto;
    right: 5px;
}
.radio + label:before {
    left: auto;
    right: 0px;
}
.form-s {
    padding: 0 10px 0 39px;
}
#searchsubmit, #searchsubmit-mobile, .glass {
    right: inherit;
    left: 0;
}
.simplebar-track.simplebar-vertical {
    right: inherit !important;
    left: 0 !important
}
.drawer-list {
    right: inherit;
    left: 0;
    border-left: 0;
    border-right: 1px solid var(--border-color);
}
.drawer-list ul {
    text-align: right;
}
.drawer-list li {
    transform: translateX(-5vw);
    -ms-transform: translateX(5vw);
}
.drawer-list li a:hover {
    transform: translateX(-10px);
}
.drawer-list ul ul li {
    transform: translateX(-2.5vw);
        -ms-transform: translateX(2.5vw);
}
.lang {
    left: initial;
    right: 0;
    padding-left: initial;
    padding-right: 0;
}
.langContainer .langButton {
    left: 0;
    right: initial;
}
.user .dropdown-item svg {
    margin-right: 0;
    margin-left: 5px;
}
.bell .dropdown-menu ul li a {
    padding-left: 15px;
}
.bell .dropdown-menu, .user .dropdown-menu {
    left: 0;
    right: inherit;
}
.bell .dropdown-menu {
    right: inherit !important;
    left: -60px !important;
}
.weather p {
    margin: 0 5px 0 0;
}
.list_icons li:not(:last-child) {
    margin-right: 0;
    margin-left: 30px;
}
.apps .block > img, .apps .block svg {
    margin-right: 0;
    margin-left: 15px;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 15px;
    padding-left: 40px;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 5px;
    right: auto;
}
.preview-file {
    height: 60px !important;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--placeholder-color);
    padding-right: 15px;
    padding-left: 130px;
}
.file_wrapper .browse {
    right: inherit;
    left: 20px;
}
.image_files button {
    margin-right: 0;
    margin-left: 5px;
}
.password-control {
    right: initial;
    left: 15px;
}