@media (min-width: 1680px) and (max-width: 1900px) {
    .form-s {
        width: 280px;
    }
    .board_name {
        font-size: 25px;
        line-height: 30px;
    }
}

@media (min-width: 1600px) and (max-width: 1679px) {
    .form-s {
        width: 240px;
    }
    h2 {
        font-size: 30px;
    }
    .apps .block p {
        font-size: 16px;
    }
    .block_info {
        transform: translate(-20px, 35%);
    }
    .event_block::after {
        content: '';
        right: -22%;
    }
    .news_text p {
        font-size: 14px;
        line-height: 22px;
    }
    #slider .item .caption {
        font-size: 25px;
        line-height: 35px;
        bottom: 12%;
    }
    .announcement-contacts img {
        margin-right: 15px;
    }
    .board_name {
        font-size: 22px;
        line-height: 27px;
    }
    .board_text {
        font-size: 16px;
        line-height: 24px;
    }
    .form_button {
        font-size: 14px;
    }
}
@media (min-width: 1440px) and (max-width: 1599px) {
    .form-s {
        width: 240px;
    }
    .header_menu {
        max-width: 430px;
    }
    h2 {
        font-size: 27px;
    }
    .apps .block p {
        font-size: 16px;
    }
    .block_info {
        transform: translate(-20px, 35%);
    }
    .event_block::after {
        content: '';
        right: -25%;
    }
    .news_text p {
        font-size: 14px;
        line-height: 20px;
    }
    .news_block .new p {
        font-size: 12px;
        line-height: 18px;
        padding: 0 5px;
        margin: 0 20px 0 10px;
    }
    #slider .item .caption {
        font-size: 25px;
        line-height: 35px;
        bottom: 10%;
    }
    #publication-carousel .item .caption {
        font-size: 16px;
    }
    .flight-info-block .block {
        font-size: 16px;
        line-height: 24px;
    }
    .flight-info-block .block img {
        margin-right: 10px;
    }
    .feautured-post h3 {
        line-height: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .feautured-post h3 a {
        font-size: 16px;
        line-height: 18px;
    }
    h3.announcement-name {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    .position {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    p.preview {
        font-size: 14px;
        line-height: 20px;
    }
    .announcement-label {
        font-size: 16px;
    }
    .announcement-label + p {
        font-size: 14px;
        line-height: 18px;
    }
    .announcement-contacts img {
        margin-right: 15px;
    }
    .board_name {
        font-size: 20px;
        line-height: 24px;
    }
    .board_text {
        font-size: 14px;
        line-height: 20px;
    }
    .staff_block .block .team_text {
        font-size: 14px;
    }
    .form_button img, .form_button svg {
        display: none;
    }
    .request_form .form_buttons {
        max-width: 300px;
        width: 100%;
        flex: 300px;
    }
    
}
@media (min-width: 1200px) and (max-width: 1439px) {
    .header_menu {
        display: none;
    }
    .form-s {
        width: 280px;
    }
    .contents .first {
        padding-top: 130px;
    }
    h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .head_block {
        margin-bottom: 10px;
    }
    .owl-theme .owl-prev {
        top: calc(0% - 35px);
    }
    .owl-theme .owl-next {
        top: calc(0% - 35px);
    }
    .apps .block {
        padding: 10px 15px;
    }
    .apps .e_find {
        padding: 0;
    }
    .services .block {
        align-items: center;
    }
    .services .block p,
    .apps .block p {
        font-size: 12px;
        line-height: 20px;
    }
    .block_info {
        max-width: 160px;
        transform: translate(-15px, 20%);
    }
    .event_block::after {
        content: '';
        top: -20%;
        right: -40%;
    }
    .block_info__date {
        font-size: 20px;
        line-height: 30px;
    }
    .block_info__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }
    .event_block {
        max-height: 130px;
    }
    .news_wrapper {
        max-height: 280px;
    }
    .news_image {
        margin-right: 15px;
    }
    .news_block .new p {
        font-size: 10px;
        line-height: 15px;
        padding: 0 5px;
        margin: 0 10px;
    }
    .news_text p {
        font-size: 12px;
        line-height: 16px;
    }
    .news_text a {
        font-size: 10px;
        line-height: 16px;
    }
    #slider .owl-slide {
        max-height: 604px;
    }
    #slider .item .caption {
        font-size: 20px;
        line-height: 30px;
        bottom: 11%;
    }
    #publication-carousel .item .caption {
        font-size: 14px;
        line-height: 18px;
    }
    .flight-info-block .block {
        padding: 19px 0;
    }
    .flight-info-block .block img {
        display: none;
    }
    .feautured-post h3 {
        line-height: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .feautured-post h3 a {
        font-size: 16px;
        line-height: 18px;
    }
    h3.announcement-name {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    .position {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    p.preview {
        font-size: 12px;
        line-height: 18px;
        padding-right: 5px;
    }
    p.preview br {
        display: none;
    }
    .announcement-label {
        font-size: 12px;
    }
    .announcement-label + p {
        font-size: 12px;
        line-height: 16px;
    }
    .announcement-contacts img {
        margin-right: 10px;
        max-width: 15px;
    }
    .footer_menu ul li a {
        font-size: 14px;
    }
    .mt-6, .my-6 {
        margin-top: 3rem !important;
    }
    footer {
        margin-top: 20px;
    }
    .board {
        margin-bottom: 6px;
    }
    .board_name {
        font-size: 16px;
        line-height: 20px;
    }
    .board_text {
        font-size: 14px;
        line-height: 18px;
    }
    .aside_block {
        margin-bottom: 30px;
    }
    .links_wrapper ul li a {
        font-size: 16px;
    }
    .depts_block .block .block_image {
        margin-right: 20px;
    }
    .depts_block .block .block_text h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .depts_block .block .block_text p {
        font-size: 14px;
        line-height: 20px;
    }
    .staff_block .block {
        flex-direction: column;
    }
    .staff_block .block .block_image {
        margin-bottom: 15px;
    }
    .form_button img, .form_button svg {
        display: none;
    }
    .form_button {
        font-size: 14px;
    }
    .request_form .form_buttons {
        max-width: 300px;
        width: 100%;
        flex: 300px;
    }
}

@media (min-width: 1200px) {
    .contents {
        min-height: calc(100Vh - 160px);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .contents {
        min-height: calc(100Vh - 200px);
    }
    .board {
        margin-bottom: 8px;
    }
    .board_name {
        font-size: 20px;
        line-height: 24px;
    }
    .board_text {
        font-size: 14px;
        line-height: 20px;
    }
    .form_button img, .form_button svg {
        display: none;
    }
    .form_button {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .contents {
        min-height: calc(100Vh - 200px);
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 768px) {

}

@media (max-width: 1199px) {
    .header_menu {
        display: none;
    }
    .form-s {
        width: 260px;
    }
    .slider, .flight, .announcement {
        margin-top: 40px;
    }
    .footer_center {
        margin-bottom: 30px;
    }
    .aside_wrapper {
        margin-top: 60px;
    }
    .employeers_form .search-navigation {
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .services .block {
        align-items: center;
    }
    .block_info {
        transform: translate(-20px, 35%);
    }
    .event_block::after {
        content: '';
        top: -25%;
        right: -25%;
    }
    .news_block .new p {
        font-size: 12px;
        line-height: 19px;
        padding: 0 5px;
        margin: 0 10px;
    }
    .news_text p {
        font-size: 14px;
        line-height: 20px;
    }
    #slider .item .caption {
        bottom: 10%;
    }
    h3.announcement-name {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .position {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    p.preview {
        font-size: 16px;
        line-height: 24px;
    }
    p.preview br {
        display: none;
    }
    .announcement-label {
        font-size: 18px;
    }
    .announcement-label + p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .announcement-contacts img {
        margin-right: 15px;
    }
    .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        padding-left: 30px;
        padding-right: 30px;
    }
    #promotions-slider .owl-prev {
        right: 105px;
    }
    #promotions-slider .owl-next {
        right: 55px;
    }
    .search_mobile {
        margin-bottom: 30px;
    }
    #searchformmobile .form-s {
        width: 100%;
        height: 50px;
        border-radius: 0 !important;
    }
    #searchformmobile .search-navigation {
        position: relative;
    }
    #searchformmobile .glass {
        padding: 15px 10px;
    }
    .news_block_wrap {
        flex-direction: column;
        margin-bottom: 40px;
    }
    .news_block_wrap .news_picture {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .wrap_news .block_news .news_date {
        font-size: 12px;
        line-height: 24px;
    }
    .wrap_news .block_news .news_name a {
        font-size: 14px;
        line-height: 18px;
    }
    .form_buttons {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 24px;
        line-height: 34px;
    }
    .mt-6, .my-6 {
        margin-top: 2.5rem !important;
    }
    .contents {
        min-height: calc(100Vh - 347px);
    }
    .navbar {
        height: 70px;
    }
    .contents .first {
        padding-top: 100px;
    }
    .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-brand svg {
        width: 99px;
    }
    .darvaza,
    .weather {
        display: none;
    }
    #promotions-slider .owl-prev {
        right: 90px;
    }
    #promotions-slider .owl-next {
        right: 40px;
    }
    .drawer-list {
        top: 70px;
    }
    .drawer-list .nav_menu {
        margin-top: 25px;
        max-height: calc(100Vh - 95px);
    }
    .menu_wrapper {
        padding-left: 5px !important;
    }
    .news_blk, .kac {
        margin-top: 30px;
    }
    #slider .owl-slide {
        max-height: 350px;
    }
    #slider .item .caption {
        font-size: 16px;
        line-height: 24px;
        bottom: 50px;
        left: 30px;
    }
    .owl-theme .owl-dots {
        position: absolute;
        bottom: 10px;
        left: 25px;
    }
    .owl-theme .owl-prev {
        top: calc(0% - 25px);
    }
    .owl-theme .owl-next {
        top: calc(0% - 25px);
    }
    p.preview {
        font-size: 14px;
        line-height: 20px;
    }
    .feautured-post h3 {
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .feautured-post h3 a {
        font-size: 20px;
        line-height: 25px;
    }
    h3.announcement-name {
        margin-top: 20px;
    }
    .announcement-label {
        font-size: 12px;
    }
    .announcement-label + p {
        font-size: 11px;
    }
    .announcement-contacts img {
        width: 15px !important;
        margin-right: 10px;
    }
    .footer_menu ul {
        flex-direction: column;
    }
    .footer_menu ul li a {
        font-size: 20px;
        line-height: 30px;
    }
    .doc_nav {
        flex-direction: column;
        align-items: baseline;
    }
    .doc_nav a {
        margin: 0;
        padding: 5px 0;
    }
    .doc_nav .searchform {
        width: 100%;
        margin-top: 10px;
    }
    .doc_nav .form-s {
        width: 100%;
    }
    .employee_filter a {
        margin: 5px 12px;
    }
    .pagination>li>a, .pagination>li>span {
        width: 35px;
        height: 35px;
    }
    .wrap_news .prev_news {
        margin-bottom: 30px;
    }
    .block_apps {
        max-width: 100%;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form_button {
        font-size: 14px;
    }
    ul.column3 {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
    .block_check {
        margin-bottom: 20px;
    }
    #accordion .btn {
        padding: 0 15px 0 0;
    }
}

@media (min-width: 568px) and (max-width: 767px) {
    .navbar-brand svg {
        width: auto !important;
    }
    .darvaza, .weather {
        display: flex;
    }
    .menu_wrapper {
        padding-left: 25px !important;
    }
    .news_blk, .kac {
        margin-top: 0;
    }
    h3.announcement-name {
        margin-top: 0;
    }
    .announcement-label {
        font-size: 16px;
    }
    #slider .owl-slide {
        max-height: 100%;
    }
    #slider .item .caption {
        font-size: 30px;
        line-height: 40px;
        bottom: 65px;
        left: 45px;
    }
    .owl-theme .owl-dots {
        position: absolute;
        bottom: 20px;
        left: 40px;
    }
    .owl-theme .owl-prev {
        top: calc(0% - 42px);
    }
    .owl-theme .owl-next {
        top: calc(0% - 42px);
    }
    .footer_menu ul {
        flex-direction: row;
    }
    .footer_menu ul li a {
        font-size: 18px;
        line-height: 20px;
    }
    .doc_nav {
        flex-direction: row;
        align-items: center;
    }
    .doc_nav a {
        margin: 0 15px 0 0;
        padding: 0;
    }
    .doc_nav .searchform {
        width: 300px;
        margin-top: 0;
    }
    .doc_nav .form-s {
        width: 300px;
    }
}

@media (orientation: landscape) and (max-width: 991px) {
    #slider .item .caption {
        bottom: 70px;
    }
    .news_block_wrap {
        flex-direction: row;
        margin-bottom: 30px;
    }
    .news_block_wrap .news_picture {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .condolences_wrapper img {
        max-width: 30%;
    }
    .condolences_wrapper .head {
        font-size: 30px;
        line-height: 30px;
    }
    .condolences_wrapper .text {
        font-size: 60px;
        line-height: 70px;
    }
    ul.column3 {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }
}