/*===============================================================================
	FONTS
===============================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Cutoff Pro';
    src: url('assets/fonts/CutoffPro.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Cutoff Pro';
    src: url('assets/fonts/CutoffPro-Bold.otf');
    font-style: normal;
    font-weight: bold;
}



/*===============================================================================
	PRELOADER
===============================================================================*/

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--main-background-color);
    z-index: 999999;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.contpre {
    width: 41px;
    height: 41px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
}
.contpre small {
    font-size: 25px;
}
#circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 4px lightgray solid;
    border-top: 4px var(--global-color) solid;
    border-right: 4px var(--global-color1) solid;
    border-bottom: 4px var(--global-color2) solid;
    border-radius: 50%;
    -webkit-animation: spin5 1s infinite linear;
        animation: spin5 1s infinite linear;
}

@-webkit-keyframes spin5 {
    from {
        -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    }
}
@keyframes spin5 {
    from {
        -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    }
}



/*===============================================================================
	BODY
===============================================================================*/

:root {
    --global-color: #00AEEF;
    --global-color1: #0060A2;
    --global-color2: #1C2A5B;
    --global-heading-color: #4F4F4F;
    --global-text-color: #4F4F4F;
    --global-text-color1: #828282;
    --main-background-color: #F1F8FF;
    --menu-background-color: #ECF7FF;
    --border-color: #E0E0E0;
    --placeholder-color: #BDBDBD;
}

body {
	line-height: 1.42;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 16px !important;
	color: var(--global-text-color);
	background-color: var(--main-background-color);
    max-width: 1920px;
    margin: 0 auto;
}
h1 {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 20px;
    color: var(--global-heading-color);
}
h2 {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
    color: var(--global-heading-color);
}
h3 {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
    color: var(--global-heading-color);
}
h4 {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    color: var(--global-heading-color);
}
h5 {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    color: var(--global-heading-color);
}
h6 {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    color: var(--global-heading-color);
}
[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--global-color);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}
.btn-primary {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    max-width: 200px;
    width: 100%;
    height: 60px;
    color: #fff;
    background: var(--global-color1);
    text-transform: capitalize;
    outline: none;
    box-shadow: none;
    border-color: transparent;
    border-radius: 5px;
    padding: 0;
    transition: all .4s ease;
}
.btn-primary:hover {
    background-color: var(--global-color);
    border-color: transparent;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
    background-color: var(--global-color1);

}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: var(--global-color);
    border-color: transparent !important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
    border-color: transparent;
}
.btn-secondary {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    max-width: 200px;
    width: 100%;
    height: 60px;
    color: var(--global-color1);
    background: transparent;
    text-transform: capitalize;
    outline: none;
    box-shadow: none;
    border: 1px solid var(--global-color1);
    border-radius: 5px;
    padding: 0;
    transition: all .4s ease;
}
.btn-secondary:hover {
    background-color: var(--global-color);
    border-color: var(--global-color);
}
.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none !important;
    background-color: var(--global-color);
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: var(--global-color);
    border-color: transparent !important;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none !important;
    border-color: transparent;
}
.btn-primary.small, 
.btn-secondary.small {
    font-size: 14px;
    max-width: 126px;
    height: 40px;
}
.btn img {
    margin-left: 15px;
    width: 26px;
    transition: all .4s ease;
}
.btn:hover img {
    margin-left: 5px;
    width: 20px;
}
a {
    color: var(--global-color2);
}
a:hover {
    color: var(--global-color);
}



/*===============================================================================
	CHECKBOX
===============================================================================*/

.checkbox {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}
.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 6px 0 0 3px;
}
.checkbox_text {
    display: inline-block;
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    color: var(--global-text-color);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.checkbox_text:before {
    content: '';
    position: absolute;
    top: calc(50% - 18px/2);
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background: #fff;
    transition: .2s;
    border: 1px solid var(--border-color);
}
.checkbox_text:after {
    content: '';
    position: absolute;
    top: calc(50% - 10px/2);
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background: var(--global-color1);
    transition: .2s;
    opacity: 0;
}
.checkbox input:checked + .checkbox_text:before {
    background: #fff;
    border-color: var(--global-color1);
}
.checkbox input:checked + .checkbox_text:after {
    opacity: 1;
}



/*===============================================================================
	RADIO
===============================================================================*/

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
    font-size: 14px;
}
.radio + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0px;
    width: 22px;
    height: 22px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    background: #FFF;
}
.radio + label:after {
	content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--global-color);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
.radio:checked + label:before {
    border-color: var(--global-color);
}



/*===============================================================================
	SLIDER
===============================================================================*/

.owl-theme .owl-nav {
    margin-top: 0;
}
.owl-theme .owl-nav [class*=owl-] {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent;
    cursor: pointer;
    border-radius: 0 !important;
    outline: none;
    transition: all .4s ease 0s;
}
.owl-theme .owl-next {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 5px;
    top: calc(0% - 40px);
}
.owl-theme .owl-prev {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 55px;
    top: calc(0% - 40px);
}
.owl-theme .next-slide {
    background: url(assets/images/owl-right.svg)no-repeat 100%;
    height: 15px;
    width: 30px;
    padding: 0;
}
.owl-theme .prev-slide {
    background: url(assets/images/owl-left.svg)no-repeat 100%;
    height: 15px;
    width: 30px;
    padding: 0;
}
.owl-theme .owl-dots {
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-dots .owl-dot span {
    background: var(--global-text-color);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--global-color);
}
.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
}
#slider .owl-slide {
	position: relative;
	height: 100vh;
    max-height: 704px;
    background-color: lightgray;
}
.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#slider .owl-slide {
    position: relative;
}
#slider .owl-slide::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(6, 14, 41, 0) 67.65%, rgba(9, 18, 48, 0.9) 87.42%);
}
#slider .item .caption {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    position: absolute;
    bottom: 10%;
    left: 45px;
    color: #f2f2f2;
    z-index: 2;
}



/*===============================================================================
	Form
===============================================================================*/

.form-group {
    margin-bottom: 30px;
}
.form-group label {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #6F6F6F;
}
.form-control {
    font-weight: normal;
    font-size: 16px;
    color: var(--global-text-color);
    height: calc(2em + 1.75rem);
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 0;
    caret-color: var(--global-color);
}
.form-control:focus {
    color: var(--global-text-color);
    background-color: #fff;
    border-color: var(--border-color);
    outline: 0;
    box-shadow: none;
}
.form-control label {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: var(--global-text-color1);
}

.effect::-webkit-input-placeholder       {color: var(--placeholder-color); opacity: 1; transition: opacity 0.3s ease;}
.effect::-moz-placeholder                {color: var(--placeholder-color); opacity: 1; transition: opacity 0.3s ease;}
.effect:-moz-placeholder                 {color: var(--placeholder-color); opacity: 1; transition: opacity 0.3s ease;}
.effect:-ms-input-placeholder            {color: var(--placeholder-color); opacity: 1; transition: opacity 0.3s ease;}
.effect:focus::-webkit-input-placeholder {color: var(--placeholder-color); opacity: 0.3; transition: opacity 0.3s ease;}
.effect:focus::-moz-placeholder          {color: var(--placeholder-color); opacity: 0.3; transition: opacity 0.3s ease;}
.effect:focus:-moz-placeholder           {color: var(--placeholder-color); opacity: 0.3; transition: opacity 0.3s ease;}
.effect:focus:-ms-input-placeholder      {color: var(--placeholder-color); opacity: 0.3; transition: opacity 0.3s ease;}

textarea {
    resize: none;
}
.calendar_form {
    background-image: url(assets/images/icons/calendar1.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}
.password {
    position: relative;
}
.password-control {
    position: absolute;
    top: 22px;
    right: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(assets/images/icons/eye_split.png) 0 0 no-repeat;
}
.password-control.view {
    background: url(assets/images/icons/eye_split.png) 100% 100% no-repeat;
}
.image_uploads {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
.file_wrapper, .password_wrapper {
    position: relative;
}
.preview-file {
    height: 60px !important;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--placeholder-color);
    padding-right: 130px;
}
.preview ul {
    margin-bottom: 0;
    padding: 0;
}
.preview li {
    list-style: none;
}
.file_wrapper .browse {
    position: absolute;
    top: 10px;
    right: 20px;
    margin-bottom: 0;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--global-color1);
    border: 1px solid var(--global-color1);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
}
.file_wrapper .browse:hover {
    background-color: #fff;
    color: var(--global-color1);
}
.form_button {
    font-weight: 600;
    font-size: 16px;
    color: var(--global-text-color1);
    width: 100%;
    height: 60px;
    background: transparent;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_button.small {
    height: 40px;
    font-size: 14px;
    max-width: 126px;
}
.form_button img,
.form_button svg {
    margin-right: 10px;
}
.form_button svg path {
    transition: all .4s ease;
}
.form_button.reset_btn {
    border-color: var(--global-text-color1);
    transition: all .4s ease;
}
.form_button.reset_btn:hover {
    background: var(--global-text-color1);
    color: #fff;
}
.form_button.reset_btn:hover svg path {
    fill: #fff;
}
.form_button.submit_btn {
    border-color: var(--global-color1);
    background: var(--global-color1);
    color: #fff;
    transition: all .4s ease;
}
.form_button.submit_btn:hover {
    border-color: var(--global-color);
    background: var(--global-color);
}
.form_button.submit_btn svg path {
    fill: #fff;
}
textarea {
    padding: 5px 15px !important;
}

/*----Validate input-----*/

.form-control.is-invalid ~ .invalid-feedback,
.form-control.is-valid ~ .valid-feedback {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 0;
}
.invalid-feedback .message_text,
.valid-feedback .message_text {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 5px;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus,
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
    box-shadow: none;
}



/*===============================================================================
	Select2
===============================================================================*/

.select2-container .select2-selection--single {
    font-size: 16px;
    height: 60px;
    border: 1px solid var(--border-color);
    border-radius: 0;
    outline: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 15px;
    padding-right: 40px;
    line-height: 58px;
    color: var(--placeholder-color);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 58px;
}
.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid var(--border-color);
    border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--global-color2);
    color: #fff;
}
.select2-container--default .select2-results__option--selected {
    background-color: lightgray;
    color: #fff;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-top: 2px solid var(--global-text-color1);
    border-right: 2px solid var(--global-text-color1);
    right: 0;
    margin-left: -15px;
    margin-top: -5px;
    transform: rotate(135deg);
    border-width: 2px;
    top: calc(50% - 2px);
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate( 315deg);
    border-width: 2px;
    border-color: var(--global-text-color1) var(--global-text-color1) transparent transparent;
    top: calc(50% - -4px);
}
.select2-search__field {
    outline: none !important;
}
.select2-results {
    font-size: 14px;
    line-height: 32px;
}
.select2-results__option {
    height: 45px;
    padding: 6px 15px;
}



/*===============================================================================
	Breadcrumb
===============================================================================*/

.breadcrumb_wrapper {
    padding-top: 80px;
}
.breadcrumb_wrapper .breadcrumb {
    background-color: transparent;
    padding: 15px 0;
    margin-bottom: 0;
}
.breadcrumb_wrapper .breadcrumb-item,
.breadcrumb_wrapper .breadcrumb-item a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: var(--global-text-color);
    align-self: center;
}
.breadcrumb_wrapper .breadcrumb-item a {
    color: var(--global-text-color);
    margin: 0;
    padding: 0;
    background: transparent;
}
.breadcrumb_wrapper .breadcrumb-item a:hover {
    text-decoration: none;
}
.breadcrumb_wrapper .breadcrumb-item + .breadcrumb-item::before {
    color: var(--global-text-color);
    content: "/";
    font-weight: normal;
}
.breadcrumb_wrapper .breadcrumb-item.active {
    font-weight: bold;
}
  
  
  
/*===============================================================================
	Pagination
===============================================================================*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 40px 0 20px;
    border-radius: 0;
}
.pagination li {
    display: inline-block !important;
    margin: 0 3px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--global-color);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: var(--global-color);
    background-color: #eee;
    border-color: var(--border-color);
}
.pagination>li>a, .pagination>li>span {
    color: var(--global-color1);
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: var(--global-color1);
    border-color: var(--global-color1);
    color: #fff;
}
.pagination li .next,
.pagination li .prev {
    line-height: 0;
    padding: 0;
}
  
  

/*===============================================================================
	Scrollbar browsers
===============================================================================*/

/* scrollbar firefox */
    html {
        scrollbar-color: gray lightgrey;
        scrollbar-width: thin;
    }
/*scrollbar chrome edge*/
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background-color: lightgrey;
        box-shadow: none;
    }
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
        background-color: grey;
    }
/* hidden scrollbar chrome edge*/
    /* ::-webkit-scrollbar {
        width: 0;
    } */
/* hidden scrollbar firefox */
    /* html {scrollbar-width: none;} */

.simplebar-scrollbar::before {
    background-color: #C4C4C4 !important;
    opacity: 1 !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 0 !important;
}
.simplebar-track.simplebar-vertical {
    background: #E0E0E0;
    width: 8px !important;
    border-radius: 0 !important;
    right: 0px !important;
}
.simplebar-track.simplebar-horizontal {
    background: #E0E0E0;
    height: 8px !important;
    border-radius: 0 !important;
}



/*===============================================================================
	Header
===============================================================================*/

.navbar {
    border-bottom: 1px solid var(--border-color);
    padding: 0;
    height: 100px;
    background: var(--main-background-color);
}
.navbar > .container-fluid {
    max-width: 1920px;
    margin: 0 auto;
}
.navbar-brand {
    margin: 0;
    max-width: 100% !important;
    padding:0px !important;
}
.header_menu {
    max-width: 542px;
    width: 100%;
}
.header_menu ul {
    display: flex;
    margin-bottom: 0;
}
.header_menu ul li {
    width: 100%;
}
.header_menu ul li a {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 28px 15px 28px 0;
    display: block;
    height: 100%;
    border-bottom: 2px solid transparent;
    color: var(--global-text-color);
    transition: all .3s ease;
}
.header_menu ul li a:hover,
.header_menu ul li a.active {
    border-bottom-color: var(--global-color1);
    text-decoration: none;
    color: var(--global-color1);
}
.searchform {
    position: relative;
}
.form-s {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border: 1px solid var(--border-color);
    outline: none !important;
    width: 345px;
    height: 60px;
    padding: 0 39px 0 10px;
}
#searchsubmit, #searchsubmit-mobile, .glass {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 20px 10px;
    background-color: transparent;
    outline: none !important;
    line-height: 0;
}
.weather {
    display: flex;
}
.weather p {
    color: var(--global-text-color1);
    margin: 0 0 0 5px;
}
.bell {
    position: relative;
}
.bell_circle {
    position: absolute;
    top: 3px;
    right: 0;
    width: 8px;
    height: 8px;
    background: #D22630;
    border: 1px solid #F1F8FF;
    border-radius: 50%;
}
.user {
    position: relative;
}
.user .dropdown-toggle {
    border: 0;
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
}
.user .dropdown-toggle img {
    border: 0;
    border-radius: 50%;
    max-width: 40px;
    width: 100%;
}
.user .dropdown-toggle:focus {
    outline: none;
}
.user .dropdown-toggle:after {
    display: none;
    content: "";
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-top: 1px solid var(--global-text-color1);
    border-right: 1px solid var(--global-text-color1);
    border-left: 0;
    position: relative;
    top: -3px;
    right: 0;
    transform: rotate(135deg);
    transform-origin: 50% 50%;
    transition: 0.3s;
}
.user.show .dropdown-toggle:after {
    transform: rotate(315deg);
    top: 0px;
}
.user .user_image {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
}
.user .user_name span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.bell .dropdown-menu {
    padding: 10px !important;
    right: -60px !important;
}
.bell .dropdown-menu::after {
    padding-top: 0;
}
.bell_block {
    max-height: 130px;
    overflow-y: auto;
}
.bell .dropdown-menu ul {
    margin-bottom: 0;
}
.bell .dropdown-menu ul li a {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0;
    transition: all .4s ease;
}
.bell .dropdown-menu a:hover {
    text-decoration: none;
    color: var(--global-color);
}
.bell .viewall {
    margin-top: 5px;
}
.bell .viewall a {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    color: var(--global-color2);
    transition: all .4s ease;
}
.bell .dropdown-menu,
.user .dropdown-menu {
    left: auto;
    right: 0;
    opacity: 0;
    visibility: hidden;
    display: block !important;
    transition: all .4s ease;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(105, 0, 5, 0.1);
    padding: 0;
    border: 0;
    border-radius: 5px;
    width: 240px;
}
.user .dropdown-menu::after {
    content: '';
    display: block;
    padding-top: 0;
}
.bell.show .dropdown-menu,
.user.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.user .dropdown-menu .user_name {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    padding: .8rem 1.5rem;
}
.user .dropdown-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: .8rem 1.5rem;
}
.user .dropdown-item:focus {
    color: var(--global-text-color);
    background-color: #fff;
}
.user .dropdown-item:hover {
    color: #fff;
    background-color: var(--global-color1);
}
.user .dropdown-item.active, .user .dropdown-item:active {
    color: #fff;
    background-color: var(--global-color);
}
.user .dropdown-item svg {
    margin-right: 5px;
}
.user .dropdown-item:hover svg path {
    fill: #fff;
}
.langContainer {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
}
.langContainer .langButton {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-top: 1px solid var(--global-text-color1);
    border-right: 1px solid var(--global-text-color1);
    position: absolute;
    top: 17px;
    right: 0;
    transform: rotate(135deg);
    transition: 0.3s;
}
.langContainer a {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--global-text-color1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.lang {
    display: flex;
    flex-direction: column;
    width: 40px;
    position: absolute;
    top: 7px;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1c1f1e;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    list-style-type: none;
    padding-left: 0;
}
.lang li.disabled {
    transform: scaleY(0);
    transition: 0.3s;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    height: 0;
}
.lang li.active {
    display: block;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    pointer-events: none;
}
.langContainer:hover .langButton {
    transform: rotate(315deg);
    top: 48%;
}
.langButton {
    pointer-events: none;
}
.langContainer:hover li {
    height: 100%;
    transform: scaleY(1);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.drawer-list {
    position: fixed;
    right: 0;
    top: 100px;
    height: 100Vh;
    max-width: 480px;
    width: 100%;
    border-left: 1px solid var(--border-color);
    transform: translate(-100vw, 0);
    /* ie workaround */
    -ms-transform: translateX(100vw);
    box-sizing: border-box;
    pointer-events: none;
    /* transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease; */
    /* border-bottom-left-radius: 100vw; */
    background: var(--menu-background-color);
    -webkit-background-size: cover;
        -o-background-size: cover;
            background-size: cover;
    z-index: 1;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.drawer-list .container-fluid {
    align-self: center;
}
.drawer-list ul {
    width: 100%;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    text-align: left;
    justify-content: center;
}
.drawer-list li {
    list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    margin: 0;
    line-height: 0;
    /* padding: 0 0 20px; */
    transition: all .4s ease;
    transform: translateX(5vw);
        -ms-transform: translateX(-5vw);
}
.drawer-list li a {
    font-family: 'Cutoff Pro',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    color: var(--global-color2);
    margin: 0;
    padding: 10px 0;
    transition: all .4s ease;
    overflow: hidden;
}
.drawer-list li a:hover {
    transform: translateX(10px);
    color: var(--global-color);
}
.drawer-list li a:last-child {
    margin-bottom: 0px;
}
.drawer-list .nav_menu {
    margin-top: 50px;
    display: block;
    max-height: calc(100Vh - 150px);
    overflow-x: hidden;
    overflow-y: auto;
}
/* .drawer-list .nav_menu::before {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #F6F6F6 100%);
} */
.drawer-list ul ul {
    margin-top: 0;
}
.drawer-list ul ul li {
    transform: translateX(2.5vw);
        -ms-transform: translateX(-2.5vw);
}
.drawer-list ul ul li:last-child {
    padding-bottom: 10px;
}
.drawer-list ul ul li a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: var(--global-text-color1);
}
input.hamburger {
    display: none;
}
input.hamburger:checked ~ .drawer-list {
	transform: translateX(0);
	border-bottom-left-radius: 0;
    opacity: 1;
}
input.hamburger ~ .drawer-list li {
    opacity: 0;
}
input.hamburger:checked ~ .drawer-list li {
    transform: translateX(0);
    transition: all .4s ease-in-out .4s;
    opacity: 1;
}
label.hamburger {
    z-index: 9999;
    position: relative;
    display: block;
    margin-bottom: 0;
}
label.hamburger:hover {
    cursor: pointer;
}

label.hamburger {
    left: 0;
}
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.ham .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:var(--global-color1);
    stroke-width: 3;
    stroke-linecap: square;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.ham.active .line {
    stroke:var(--global-color1);
}
.ham7 .top {
    stroke-dasharray: 40 82; 
}
.ham7 .middle {
    stroke-dasharray: 40 111;
}
.ham7 .bottom {
    stroke-dasharray: 40 161;
}
.ham7:hover .top,
.ham7.active .top {
    stroke-dasharray: 40 82; 
}
.ham7:hover .bottom,
.ham7.active .bottom {
    stroke-dasharray: 40 161;
}
.ham7.active .top {
    stroke-dasharray: 25 82;
    stroke-dashoffset: -62px;
}
.ham7.active .middle {
    stroke-dashoffset: 23px;
}
.ham7.active .bottom {
    stroke-dashoffset: -83px;
}
.ham7:hover .line {
    stroke:var(--global-color);
}



/*===============================================================================
	FOOTER
===============================================================================*/

footer {
    height: 120px;
    padding: 0;
    margin-top: 40px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer_text,
.copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.footer_text {
    margin-bottom: 10px;
}
.footer_menu ul li a {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: var(--global-text-color1);
    transition: all .3s ease;
}
.footer_menu ul li a:hover {
    text-decoration: none;
    color: var(--global-color1);
}
.list_icons li:not(:last-child) {
    margin-right: 30px;
}
.list_icons li a svg path {
    transition: all .4s ease;
}
.list_icons li a:hover svg path {
    fill: var(--global-color1);
}


/*===============================================================================
	MAIN
===============================================================================*/

body p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.contents .first {
    padding-top: 140px;
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding-left: 40px;
    padding-right: 40px;
}
.apps .block {
    display: flex;
    align-items: center;
    padding: 25px 20px;
    background: var(--global-color);
    height: 110px;
    margin-bottom: 30px;
}
.apps .block:hover {
    text-decoration: none;
}
.apps .e_forms {
    background: #1299CC;
}
.apps .fiori {
    background: #0C79C8;
}
.apps .e_employee {
    background: #0060A2;
}
.apps .e_directory {
    background: #0059AB;
}
.apps .e_find {
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    background: transparent;
}
.search-employee {
    position: relative;
    margin-bottom: 0;
}
.search-employee .form-control {
    padding: 0 35px 0 15px;
    height: 40px;
}
#searchemployee {
    width: 100%;
}
.searchemployee_submit {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 8px;
    background: transparent;
}
.apps .block > img,
.apps .block svg {
    position: relative;
    margin-right: 15px;
}
.apps .block p {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
    color: #fff;
}
.services .block {
    align-items: flex-start;
}
.services .block p {
    font-size: 18px;
    line-height: 30px;
}
.head_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.head_block h2 {
    margin-bottom: 0;
}
.head_block a {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: var(--global-color2);
    transition: all .4s ease;
}
.head_block a:hover {
    text-decoration: none;
    color: var(--global-color);
}
.event_block {
    position: relative;
    max-height: 170px;
    height: 100%;
    overflow: hidden;
}
.event_block:not(:last-child) {
    margin-bottom: 20px;
}
.event_block::after {
    content: '';
    background: var(--global-color2);
    position: absolute;
    top: -20%;
    right: -15%;
    border-radius: 50%;
    height: 303px;
    width: 303px;
}
.event2:after {
    background: var(--global-color1);
}
.block_info {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 180px;
    color: #fff;
    z-index: 1;
    text-align: right;
    transform: translate(-30px, 35%);
}
.block_info__date {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
}
.block_info__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.news_wrapper {
    max-height: 360px;
    overflow-x: hidden;
    overflow-y: auto;
}
.news_block {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}
.news_block:not(:first-child) {
    padding-top: 10px;
}
.news_block:last-child {
    border-bottom: 0;
}
.news_image {
    margin-right: 20px;
}
.calendar_image {
    position: relative;
}
.calendar_image .calendar_date {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: var(--global-text-color1);
}
.calendar_image .calendar_month {
    position: absolute;
    bottom: -16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--global-text-color1);
}
.news_text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
    color: var(--global-color2);
}
.news_text a {
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    color: var(--global-color1);
    transition: all .4s ease;
}
.news_text a:hover {
    text-decoration: none;
    color: var(--global-color);
}
.news_block .new p {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    background: red;
    display: block;
    color: #fff;
    padding: 0 10px;
    margin: 0 20px 0 20px;
}
#publication-carousel .item {
    display: flex;
    padding: 27px 0;
    justify-content: center;
    background: #ECF7FF;
}
#publication-carousel .item img {
    width: auto;
    margin-right: 15px;
}
#publication-carousel .item .caption {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: var(--global-color1);
}
.flight-info-block .block {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0059AB;
    padding: 22px 0;
    color: #fff;
}
.flight-info-block .block img {
    margin-right: 20px;
}
#promotions-slider .prev-slide {
    background: url(assets/images/owl-left.svg)no-repeat 100%;
    height: 15px;
    width: 30px;
    padding: 0;
}
#promotions-slider .next-slide {
    background: url(assets/images/owl-right.svg)no-repeat 100%;
    height: 15px;
    width: 30px;
    padding: 0;
}
#promotions-slider .owl-stage{
    padding-left: 0px !important;
}
section.fourth .slide-wrapp{
    padding-right: 0px !important;
}
#promotions-slider .owl-prev {
    right: 120px;
}
#promotions-slider .owl-next {
    right: 70px;
}
.fourth .container-fluid.pr-0 {
    overflow-x: hidden;
}
#announcement-carousel .item {
    background: #EBEBEB;
}

/***Internal Announcement***/
.row.centered{
    align-items: center;
}
h3.announcement-name{
    color:#0060A2;
    font-size:40px;
}
.position{
    font-size:20px;
    color:#828282;
}
p.preview{
    line-height:30px;
}
.announcement-contacts img{
    width:auto !important;
    display:inline-block !important;
    margin-right:25px;
}

.announcement-label{
    margin-bottom:0px;
    font-size:20px;
    font-weight:500;
    color:#0060A2;
}
.announcement-card{
    padding-left:15px;
}

/***Press Releases***/
.feautured-post h3{
    line-height:25px;
    margin-top:30px;
    font-family:'Open Sans';
    margin-bottom:15px;
}
.feautured-post h3 a{
    font-size:26px;
    line-height:25px;
    color:#1C2A5B;
    font-weight:500;
    transition: all .4s ease;
}
.feautured-post h3 a:hover {
    text-decoration: none;
    color: var(--global-color)
}



/*===============================================================================
	ABOUT
===============================================================================*/

.block_wrapp {
    margin-bottom: 40px;
}
.block_wrapp:last-child {
    margin-bottom: 0;
}
.aside_block {
    margin-bottom: 30px;
}
.goals ul li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
}
.list_line li {
    position: relative;
    margin: 0 0 0 30px;
}
.list_line li:before {
    content: '';
    width: 18px;
    height: 1px;
    position: absolute;
    background-image: url(assets/images/line.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: -30px;
    top: 12px;
}
.links_wrapper ul li:before {
    top: 25px;
}
.links_wrapper ul li {
    margin-bottom: 0;
}
.links_wrapper ul li a {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: var(--global-color2);
    position: relative;
    padding: 0px 0;
    background: transparent;
    transition: all .4s ease;
    height: 48px;
}
.links_wrapper ul li a:before {
    content: '';
    width: 30px;
    background: transparent;
    height: 48px;
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    transition: all .4s ease;
}
.links_wrapper ul li a:hover::before {
    background: var(--global-color1);
}
.links_wrapper ul li a:hover {
    text-decoration: none;
    background: var(--global-color1);
    color: #fff;
}
.list_wrapper ul li {
    margin-bottom: 10px;
}
.list_wrapper ul li a {
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    color: var(--global-text-color);
    transition: all .4s ease;
}
.list_wrapper ul li a:hover {
    text-decoration: none;
    color: var(--global-color);
}
.list_wrapper ul li a .icon {
    width: 30px;
    display: flex;
    margin-right: 5px;
}
.board {
    margin-bottom: 10px;
}
.board_name {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: var(--global-color1);
    margin-top: 8px;
    margin-bottom: 0;
}
.board_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--global-text-color1);
}
.mess_image {
    margin-right: 30px;
}



/*===============================================================================
	DEPARTMENTS
===============================================================================*/

.depts_block {
    margin: 15px 0;
}
.depts_block .block {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    background: #ECF7FF;
    box-shadow: 0px 5px 5px rgba(0, 18, 56, 0.15);
    border-radius: 5px;
    transition: all .4s ease;
}
.depts_block .block .block_image {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.depts_block .block .block_text h3 {
    margin-bottom: 0;
    transition: all .4s ease;
}
.depts_block .block .block_text p {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: var(--global-heading-color);
    margin-bottom: 0;
    transition: all .4s ease;
}
.depts_block a .block_image svg path {
    transition: all .4s ease;
}
.depts_block a:hover {
    text-decoration: none;
}
.depts_block a:hover .block {
    background: var(--global-color1);
    box-shadow: 0px 5px 5px rgba(0, 18, 56, 0.1);
}
.depts_block a:hover .block_image svg path {
    fill: #fff;
}
.depts_block a:hover .block_text h3,
.depts_block a:hover .block_text p {
    color: #fff;
}
.info_list,
.info_list .block_images {
    display: inline-block;
    margin-bottom: 20px;
}
.block_apps_wrapper {
    margin-bottom: 20px;
}
.block_apps {
    max-width: 300px;
}
.show_more {
    margin-top: 20px;
}
.show_more a {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: var(--global-color2);
    transition: all .4s ease;
}
.show_more a:hover {
    text-decoration: none;
    color: var(--global-color);
}



/*===============================================================================
	DOCUMENTS
===============================================================================*/

.doc_nav {
    display: flex;
    align-items: center;
}
.doc_nav a {
    font-weight: 600;
    color: var(--global-color2);
    margin-right: 20px;
    transition: all .4s ease;
}
.doc_nav a:hover {
    color: var(--global-color);
    text-decoration: none;
}
.doc_nav .form-s {
    width: 400px;
}
.documents_table {
    margin-top: 20px;
}
.documents_table td a {
    font-weight: normal;
    font-size: 16px;
    color: var(--global-color1);
    transition: all .4s ease;
}
.documents_table td a:hover {
    text-decoration: none;
    color: var(--global-color);
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
    border-top-width: 1px;
}
.table {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}
.table thead td, .table thead th,
.table tfoot td, .table tfoot th {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--global-text-color1);
    background: #ECF7FF;
    height: 80px;
    vertical-align: middle;
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
}
.table tbody td {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--global-text-color1);
    height: 60px;
    vertical-align: middle;
    white-space: nowrap;
}
.table .radio, .table .checkbox {
    margin-top: 0;
    display: inline-block;
}
.table .checkbox_text {
    padding: 0 0 0 25px;
    font-weight: 600;
    font-size: 14px;
    color: var(--global-text-color1);
}



/*===============================================================================
	STAFF
===============================================================================*/

.employeers_form .search-navigation {
    position: relative;
}
.employeers_form #form-s-employeers {
    width: 100%;
}
.employee_filter a {
    font-weight: 600;
    font-size: 22px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin-right: 30px;
    text-align: center;
    color: var(--global-text-color1);
    transition: all .4s ease;
}
.employee_filter a:hover {
    text-decoration: none;
    color: var(--global-color);
}
.employee_filter a.active {
    color: var(--global-color2);
}
.staff_block {
    margin: 15px 0;
}
.staff_block .block {
    height: 100%;
    display: flex;
    padding: 20px;
    background: #ECF7FF;
    box-shadow: 0px 5px 5px rgba(0, 18, 56, 0.15);
    border-radius: 5px;
    transition: all .4s ease;
}
.staff_block .block .block_image {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    max-width: 126px;
}
.staff_block .block .block_image .team_contacts ul {
    margin-top: 18px;
    justify-content: space-between;
    margin-bottom: 0;
}
.staff_block .block .team_firstname {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    color: var(--global-color1);
}
.staff_block .block .team_lastname {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: var(--global-color1);
}
.staff_block .block .team_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--global-text-color1);
    margin-bottom: 8px;
}
.staff_block .block .team_text1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--global-color2);
    margin-bottom: 8px;
}
.staff_block .block .team_city {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--global-text-color1);
    margin-bottom: 0;
}



/*===============================================================================
	NEWS
===============================================================================*/

.news_block_wrap {
    display: flex;
    margin-bottom: 20px;
}
.news_block_wrap .news_picture {
    max-width: 285px;
    width: 100%;
    margin-right: 30px;
}
.news_info .text_top {
    margin-bottom: 15px;
}
.news_info .news_date {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
    color: var(--global-heading-color);
}
.news_info .news_tag a {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--global-color2);
    transition: all .4s ease;
}
.news_info .news_name a {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: var(--global-color2);
    transition: all .4s ease;
}
.news_info .news_tag a:hover,
.news_info .news_name a:hover,
.wrap_news .block_news .news_name a:hover {
    text-decoration: none;
    color: var(--global-color);
}
.news_info .news_exerpt {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--global-heading-color);
}
.news_info .news_name h2 {
    text-transform: capitalize;
    color: var(--global-color2);
    margin-bottom: 10px;
}
.news_block_single .news_info {
    margin-bottom: 30px;
}
.news_block_image {
    margin-bottom: 20px;
}
.wrap_news .block_arrow a {
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: var(--global-color);
}
.wrap_news .block_arrow a:hover {
    text-decoration: none;
}
.prev_news .block_arrow img {
    margin-right: 8px;
}
.next_news .block_arrow img {
    margin-left: 8px;
}
.wrap_news .block_news {
    display: flex;
    margin-top: 20px;
    max-width: 460px;
}
.wrap_news .block_news .news_picture {
    max-width: 126px;
}
.prev_news .block_news .news_picture {
    margin-right: 20px;
}
.next_news .block_news .news_picture {
    margin-left: 20px;
}
.wrap_news .block_news .news_date {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: var(--global-text-color);
}
.wrap_news .block_news .news_name a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: var(--global-color2);
    transition: all .4s ease;
}



/*===============================================================================
	CONDOLENCES
===============================================================================*/

.condolences {
    background: linear-gradient(180deg, #01071B 30.14%, rgba(1, 7, 27, 0.32) 100%), #15224F;
    height: 100Vh;
    width: 100Vw;
    overflow: hidden !important;
    display: flex;
    align-items: center;
    color: #A3D4F7 !important;
}
.condolences_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.condolences_wrapper .head {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}
.condolences_wrapper .text {
    font-family: 'Cutoff Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 100px;
}
.condolences_wrapper .text1 {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    max-width: 730px;
    text-align: center;
}



/*===============================================================================
	DateTimePicker
===============================================================================*/

.form-control[readonly].datepicker-here {
    background-color: #fff;
}
.datepicker--day-name,
.datepicker--cell.-current- {
    color: var(--global-color);
}
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-, .datepicker--cell.-selected-.-focus- {
    color: #fff;
    background: var(--global-color);
}



/*===============================================================================
	GATEPASS
===============================================================================*/

.filter_btn {
    padding-bottom: 20px;
}
.filter_btn button {
    font-weight: 600;
    font-size: 16px;
    border: 1px solid var(--global-color1);
    border-radius: 5px;
    background: var(--global-color1);
    color: #fff;
    height: 58px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    outline: none !important;
}
.filter_btn button span {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(315deg);
    transition: 0.3s;
    position: relative;
    top: 1px;
}
.filter_btn button.collapsed span {
    transform: rotate(135deg);
    top: -2px;
}
.inbox_form {
    margin-top: 20px;
    margin-bottom: 40px;
    display: inline-block;
}
.inbox_form .select2 {
    width: 100% !important;
}
ul.column2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
ul.column3 {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
.request_form ul.column2 li,
.request_form ul.column3 li {
    margin-bottom: 20px;
}
.company_details {
    margin-bottom: 20px;
}
.image_files button {
    line-height: 0;
    border: 0;
    background: transparent;
    margin-right: 5px;
}
.image_files ul li {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #656565;
    margin-top: 5px;
}
.add_visitor_btn {
    margin-bottom: 45px;
}
.add_visitor_btn a {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: var(--global-color1);
    transition: all .4s ease;
}
.add_visitor_btn a:hover {
    text-decoration: none;
    color: var(--global-color);
}



/*===============================================================================
	STYLEGUIDE
===============================================================================*/

p.regular {
    font-size: 18px;
    line-height: 26px;
}
p.small {
    font-size: 16px;
    line-height: 24px;
}
p.mini {
    font-size: 14px;
    line-height: 22px;
}
p.big {
    font-size: 20px;
    line-height: 30px;
}
p.extra {
    font-size: 26px;
    line-height: 34px;
}
ul.list li {
    margin-bottom: 10px;
}
.btn_big {
    max-width: 282px;
    width: 100%;
}



/*===============================================================================
	FAQ
===============================================================================*/

#accordion {
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
#accordion .card {
    background-color: transparent;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
}
#accordion .card-header {
    padding: 24px 0;
    background-color: transparent;
    border-color: var(--border-color);
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#accordion .btn-link.collapsed {
    color: var(--global-text-color);
}
#accordion .btn {
    padding: 0 30px 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
    outline: none;
}
#accordion .btn p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--global-text-color);
    max-width: 85%;
    margin-bottom: 0;
}
#accordion .btn-link.collapsed p {
    color: var(--global-text-color);
}
#accordion .btn-link p {
    color: var(--global-color1);
}
#accordion .btn-link.collapsed:after {
    content: "";
    background: url(assets/images/icons/plus.svg)no-repeat;
    display: block;
    height: 20px;
    width: 20px;
    margin-left: auto;
}
#accordion .btn-link:after {
    content: "";
    background: url(assets/images/icons/minus.svg)no-repeat;
    display: block;
    height: 20px;
    width: 20px;
    margin-left: auto;
}
#accordion .btn-link:focus {
      box-shadow: none;
}
#accordion .card-body {
    padding: 0;
}
#accordion .card-body p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--global-heading-color);
    margin-bottom: 30px;
}
#accordion hr {
    margin: 0 !important;
    border-color: var(--border-color);
}